<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <h5>Created by {{user.name}} on {{format_date date_created}}</h5>
  <br>
  <p hidden id="postId">{{id}}</p>
  <div>
      <h6>Comments:</h6>
      <br>
      {{#each comments as |comment|}}
      <p>
          {{comment.text}}
      </p>
      <h6>Comment by: {{comment.user.name}} on {{format_date comment.date_created}}</h6>
      <br>
      {{/each}}
  </div>

  <form class="make-comment-form">
    <h2>Add a Comment:</h2>
    <br>
    <div class="form-group">
        <input id="new-comment" type="text" class="form-input">
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Comment</button>
    </div>
</form>
</div>

<script src="/js/makecomment.js"></script>
